/*body{
  background:#EEEEEE;
}*/
div img{
    border-radius:60%;
  }
/*.juste{
  line-height:0.5;
  text-indent:300px;
  padding-top:10px
}*/
h2{
  text-align:center;
  font-size:25px;
  padding:10px;
  text-shadow:3px 3px 4px white;
}
h1{
  text-align:center;
  font-size:50px;
  text-shadow:3px 3px 4px white;
}
span{
  line-height:0.5;
  text-indent:300px;
}
div.blok{
  background:#0650D3;
  width:205px;
  height:auto;
  padding:6px;
  color:white;
  margin-top:-330px;
}

.content{
  line-height:1;
  text-indent:200px;
  padding:250px;
  margin-top:-1450px;
  text-align:justify;
}
.acote{
  text-indent:1px;
  line-height:20px;
  padding-top: 40px;
  padding-bottom:-20px;
  margin-top: 10px;
  margin-bottom: -50px;
  text-align:justify;
}

.juste{
  border:1px solid white;
  margin-left:200px;
  width:600px;
  line-height:18px;
  text-indent:0px; 
}
.para{
  display:block;
  margin-left:300px;
  
}
.cote{
  text-indent:1px;
  line-height:20px;
  padding-top: 50px;
  padding-bottom:-40px;
  margin-top: 20px;
  margin-bottom: -90px;
  text-align:justify;
}
/*h1{
  border:2px solid black;
  width:650px;
  margin-left:230px;
}*/
